*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background: linear-gradient( to right, #f00, #f0f);
}
.container{
    padding: 2rem;
    background: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 8px 32px 0px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.keyContainer{
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    color: #fff;
    margin: 2.5rem;
    min-width: 150px;
    background: rgba(0, 255, 255, 0.50);
    box-shadow: 0px 8px 32px 0px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

/* .key-container h4 {
    position: absolute;
    top: -2rem;
    left: 0;
    text-align: center;
    width: 100%;
} */

.keyContent{
    background:rgba(0, 139, 139, 0.829);
    height: 51px;
    width: 104px ;
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.key-content{
    margin-top: 10px;
}

.container:hover{
    background: rgba(255, 255, 255, 0.35);
}

.key-container:hover{
    background: rgba(0, 255, 252, 0.7);
}